* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-size: 14px;
    
}

/* =============== Generic CSS ==========*/


.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
    
}

.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}

.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}


/* ========== Header ========= */
.header {
    background-image: url("../images/f2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    
    
}
.header-overlay {
    background-color: rgba(31,31,31,0.75);
}
.logo {
    padding-bottom: 50px;
    
}
.header-text h1{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
    font-style: italic;
    font-family: cursive;
}
.header-text p{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    font-weight: 300;
    
}



.header-iphone img{
    width: 50%;
    padding-bottom: 50px;

}



/* =========== About us ============ */





/* =========== Testimonial ============ */

.testimonial {
    background-image: url("../images/f4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 1%;
}

.testimonial-overlay {
    background-color: rgba(31,31,31,.75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
    
}
.carousel-inner .item img{
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 3px;
}

.testimonial-caption {
    
    padding-bottom: 70px;
}

.testimonial-caption h2{
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900px;
    font-size: 30px;
    margin-top: 25px;
    
}

.testimonial-caption h4{
    color: #129CF3;
    
    
}

.testimonial-caption h4 span{
    color: #D8D8D8;
    font-weight: 300px;
    font-style: italic;
    
}

.testimonial-caption p{
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}


.cancion-overlay {
    background-color:#ABE6E6;
    padding-top: 80px;
    padding-bottom: 80px;
}